
{% block title %}New Entry{% endblock %}

{% block body %}
<h2>Add a new entry:</h2>

<form class="new_entry" method="POST">
  <p>
    <label for="title">Title: </label>
    <input type="text" name="title">
  </p>
  <p>
    <label for="body">Entry</label>
    <input type="text" name="body">
  </p>
  <p>
    <input type="submit" name="Add Entry">
  </p>
</form>

{% endblock %}

<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="skeleton.css">
  <link rel="stylesheet" href="style.css">

  <title>New Entry</title>
</head>
<body>
  <header>
    <ul id="mainNav">
      <li></li>
      <li><a href="index.html">Entries</a></li>
      <li>LinkedIn</li>
      <li>About Me</li>
    </ul>
  </header>
<main>
    <div class="container">
            <form action="newEntry.html">
                    <div class="row" style="margin-top:10%">
                      <div class="six columns">
                        <label for="blogTitle">Blog Title</label>
                        <input class="u-full-width" type="text" placeholder="Today I Learned">
                      </div>
                    </div>
                    <label for="exampleText">Entry</label>
                    <textarea class="textbox" class="textbox" placeholder="Today in class I learned a great many things!"></textarea>
                    <input class="button-primary" type="submit" value="Submit">
            </form>
    </div>
    <footer>
        <ul>
            <li>This is the footer. It will contain things.</li>
        </ul>
    </footer>
    </body>
    </html> -->
